apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "24.1.2"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    ports:
      web:
        port: 80
        service:
          type: LoadBalancer
      websecure:
        port: 443
        service:
          type: LoadBalancer
    serviceAccount:
      create: true
    rbac:
      enabled: true
    dashboard:
      enabled: false
    log:
      level: INFO
    providers:
      kubernetesCRD:
        enabled: true
      kubernetesIngress:
        enabled: true
    additionalArguments:
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.kubernetesingress.ingressclass=traefik"
      - "--providers.kubernetesingress.publishedservice=enabled"
      - "--certificatesresolvers.letsencrypt.acme.email=admin@pixelatedempathy.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
