[Unit]
Description=OCI A1.Flex Instance Creator
After=network.target

[Service]
Type=simple
User=PLACEHOLDER_USER
ExecStart=/usr/local/bin/create-a1-flex-instance.sh
Restart=always
RestartSec=60
StandardOutput=append:/var/log/oci-instance-creator.log
StandardError=append:/var/log/oci-instance-creator.log

[Install]
WantedBy=multi-user.target
