[submodule "ai"]
	path = ai
	url = git@github.com:pixelatedempathy/ai.git
	branch = .
	ignore = all

[submodule "docs"]
	path = docs
	url = git@github.com:pixelatedempathy/docs.git
	branch = .
	ignore = all