apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: containerd-config-fix
  namespace: kube-system
  labels:
    app: containerd-config-fix
spec:
  selector:
    matchLabels:
      app: containerd-config-fix
  template:
    metadata:
      labels:
        app: containerd-config-fix
    spec:
      containers:
      - name: patch
        image: mcr.microsoft.com/cbl-mariner/base/core:2.0
        command: ["sleep", "infinity"]
