---
// BrandLogo component for Pixelated Empathy
---

<a href="/" class="flex items-center space-x-2">
  <img
    src="/images/logo-light.svg"
    alt="Pixelated Empathy Logo"
    class="w-8 h-8 dark:hidden"
  />
  <img
    src="/images/logo-dark.svg"
    alt="Pixelated Empathy Logo"
    class="w-8 h-8 hidden dark:block"
  />
  <span class="text-xl font-bold text-gray-900 dark:text-white brand-title">
    Pixelated Empathy
  </span>
</a>
