services:
  docker: !override
    build:
      context: ./gpu
      dockerfile: Dockerfile
    profiles: [platform, customizer, evaluator, data-designer, safe-synthesizer, auditor]
    privileged: true
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - docker_storage:/var/lib/docker
      - docker_tls_certs_client:/certs/client
    networks:
      - nmp
    healthcheck:
      test: ["CMD", "dockerd", "--version"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
