---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '~/lib/utils'

type Props = HTMLAttributes<'div'>

const { class: className, ...props } = Astro.props
---

<div
  data-slot="card"
  class={cn(
    'card--glass text-card-foreground flex flex-col gap-6 rounded-xl py-6 shadow-sm transition-all duration-300 hover:shadow-glow hover:-translate-y-1',
    className,
  )}
  {...props}
>
  <slot />
</div>
